[webservers]
%{ for h in webs }
${h.name} ansible_host=${h.ip} fqdn=${h.fqdn}
%{ endfor }

[databases]
%{ for h in dbs }
${h.name} ansible_host=${h.ip} fqdn=${h.fqdn}
%{ endfor }

[storage]
%{ for h in store }
${h.name} ansible_host=${h.ip} fqdn=${h.fqdn}
%{ endfor }